.catimages:hover
{
    transform: scale(1.1);
    transition: 1s;
    opacity: 0.8;
    filter:contrast(1.5);

}
.navbar{
    height: 5rem;
    background-color: rgb(255, 255, 255);
}
.nav-link{
    color:#222222 !important;
}
